body {
  background-image: url("./roserade.jpg");
  background-attachment: fixed;
  background-size: fill;
}

.card-body {
  background-color: rgba(212, 248, 205, 0.8);
}

.card {
  background-color: rgba(0, 0, 0, 0) !important;
}

.card-footer {
  background-color: rgb(110, 209, 127) !important;
}
